<% include('../Layouts/Header.ejs') %>
<link rel="stylesheet" href="/Stylesheets/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<style>

    .tdata{
        text-align: left;
        font-size: 1.4rem;
        padding-top: 3rem;
        font-weight: 500;
      
    }

</style>


<div class="main-wrapper">

    <div class="nav-background">

      <div class="mobile-logo">

        <a href=""><span class="Highlight">S</span>k <span class="Highlight">D</span>igi <span class="Highlight">T</span>ech</a>

      </div>

      <div class="nav-links">

        <ul>


          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Blogs</a></li>
         <li><a href="#">Contact Us</a></li>


        </ul>

      </div>

      <div class="contact flex align-items">

        <i class="fa-solid fa-user"></i> 
        <div>

         <h4><a href="/index">Profile</a></h4>

        </div>

      </div>

      <div class="time flex align-items">

        <i class="fa-solid fa-calendar"></i>
       
        <div>

         <h4> <a href="#">Calanders</a> </h4>

        </div>

      </div>

    </div>

    <div class="site-content-wrapper">

      <div class="nav-trigger">

        <i class="fa-solid fa-bars"></i>

      </div>

      <div class="site-content">



<header class="header">

    <div class="container">

          <div class="icons">

            <a href="https://www.facebook.com/groups/1532530887184305">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com/Ahsanmusht?tab=repositories">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>

          </div>
          <div class="profile">

              <div>

                  <i class="fa-solid fa-home"></i> 
                  <a href="/admin/dashboard">Dashboard</a>

              </div>

              <span class="divider">|</span>

              <div>

                <i class="fa-solid fa-sign-out"></i>
                <a href="/admin/logout">Logout</a>
            </div>

          </div>

    </div>


  </header>




<h1 style="text-align: center; padding-top: 2rem;">Welcome Admin:-<br><a href=""
    style="color: var(--primary); font-family: 'Dancing Script', cursive;">
    <%= admin.name%>
</a></h1>

<div class="container">

<table style="width: 60%;">

    <tr>

        <td><img style="width: 10rem; border-radius: 50%;" src="/Uploads/<%= admin.image%>" alt=""></td>

    </tr>

    <tr>

        <th class="tdata">Name</th>
        <td><%= admin.name%></td>

    </tr>
    <tr>

        <th class="tdata">Email</th>
        <td><%= admin.email%></td>

    </tr>
    <tr>

        <th class="tdata">Mobile</th>
        <td><%= admin.mobile%></td>

    </tr>



</table>

</div>
    <!-- <a href="/admin/dashboard">Dashboard</a> -->
    <br><br>
<!-- <a href="/admin/logout">Logout</a> -->

</div>
</div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
  <script src="/Javascript/app.js"></script>


<% include('../Layouts/Footer.ejs') %>