<% include('../Layouts/Header.ejs') %>

<link rel="stylesheet" href="/Stylesheets/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<style>
    input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }

</style>
<div class="main-wrapper">

  <div class="nav-background">

    <div class="mobile-logo">

      <a href=""><span class="Highlight">S</span>k <span class="Highlight">D</span>igi <span class="Highlight">T</span>ech</a>

    </div>

    <div class="nav-links">

      <ul>


        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Blogs</a></li>
       <li><a href="#">Contact Us</a></li>


      </ul>

    </div>

    <div class="contact flex align-items">

      <i class="fa-solid fa-user"></i> 
      <div>

       <h4><a href="/index">Profile</a></h4>

      </div>

    </div>

    <div class="time flex align-items">

      <i class="fa-solid fa-calendar"></i>
     
      <div>

       <h4> <a href="#">Calanders</a> </h4>

      </div>

    </div>

  </div>

  <div class="site-content-wrapper">

    <div class="nav-trigger">

      <i class="fa-solid fa-bars"></i>

    </div>

    <div class="site-content">


<header class="header">

    <div class="container">

          <div class="icons">

            <a href="https://www.facebook.com/groups/1532530887184305">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com/Ahsanmusht?tab=repositories">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>

          </div>
          <div class="profile">

              <div>

                  <i class="fa-solid fa-home"></i> 
                  <a href="/index">back</a>

              </div>

              <span class="divider">|</span>

              <div>

                <i class="fa-solid fa-sign-out"></i>
                <a href="/logout">Logout</a>

            </div>

          </div>

    </div>


  </header>

<div class="container">

<img style="width: 20%; border-radius: 50%; 
border: 4px solid #000;  margin-top: 3rem;"
src="Uploads/<%= user.image%>" alt="">

<form action="" enctype="multipart/form-data" method="post">

    <input type="hidden" name="user_id" value="<%= user._id%>" id="">
    <br>
    <input type="file" name="image" value="<%= user.image%>" placeholder="Profile" required>
<br>
    <input type="text" name="name" value="<%= user.name%>" placeholder="Name" required>
<br>
    <input type="email" name="email" value="<%= user.email%>" placeholder="Email" required>
<br>
    <input type="number" name="mobile" value="<%= user.mobile%>" placeholder="Mobile" required>
<br>

<input class="btn btn-secondary" type="submit" value="Update">

</form>

</div>

</div>

</div>

</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
  <script src="/Javascript/app.js"></script>

<% include('../Layouts/Footer.ejs') %>